html {
  height: 100%;
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0; }

body {
  height: 100%;
  margin: 0; }

#root {
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ball {
  fill: #dded00; }

.block {
  stroke-width: 1px;
  stroke: #ecf0f1; }

.level {
  font-weight: bold;
  fill: #ecf0f1; }

.life {
  fill: #dded00; }

.paddle {
  fill: #f2911b; }

.page {
  width: 100%;
  height: 100%;
  background: #1b0418;
  padding: 6rem; }

.scene-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.scene {
  border: 2px solid #ecf0f1; }
